*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$breakpoints: (
  small: 480px,
  bloody: 650px,
  midsmall: 800px,
  welldone: 1000px,
  medium: 1200px,
  large: 1800px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

$green: #cbf73f;
$pink: #eb4abc;
$dark: #1b1b1b;
$brown: #d3d3d3;

.countdown {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, max-content));
  gap: 0.5rem;
  justify-content: center;

  align-content: center;
}

.two-numbers {
  width: 2ch;
}
