*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$breakpoints: (
  small: 480px,
  bloody: 650px,
  midsmall: 800px,
  welldone: 1000px,
  medium: 1200px,
  large: 1800px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

$green: #cbf73f;
$pink: #eb4abc;
$dark: #1b1b1b;

.blog {
  display: grid;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;

  @include mq(welldone) {
    padding: 0;
  }

  &-image {
    @include mq(welldone) {
      height: 19rem;
    }
  }
}
