*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$breakpoints: (
  small: 480px,
  bloody: 650px,
  midsmall: 800px,
  welldone: 1000px,
  medium: 1200px,
  large: 1800px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

$green: #cbf73f;
$pink: #eb4abc;
$dark: #1b1b1b;

.header-navigation {
  display: grid;
  grid-template-columns: 0.15fr 0.7fr 0.15fr;
  //   grid-template-rows: 1fr 1fr 1fr;
  //   grid-template-rows: repeat(3, minmax(min-content, max-content));
  background-color: $dark;
  color: white;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: 7rem;
  margin-bottom: 1.5rem;

  &-profile {
    align-self: end;
    width: 1.8rem;
  }

  &-arrow {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    width: 1.8rem;
  }

  &-date {
    grid-column: 2/3;
    grid-row: 2/3;
    font-weight: 800;
  }

  &-days {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: start;
  }

  &-burger {
    align-self: end;
    width: 2.3rem;
  }

  &-logo {
    width: 3.5rem;
  }
}
