*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$breakpoints: (
  small: 480px,
  bloody: 650px,
  midsmall: 800px,
  welldone: 1000px,
  medium: 1200px,
  large: 1800px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

$green: #cbf73f;
$pink: #eb4abc;
$dark: #1b1b1b;

.gesamtscore {
  position: relative;
  width: 14.125rem;
  height: 14.125rem;
  //   border-radius: 50%;
  //   border: 0.625rem solid $green;
  display: grid;

  &-chart {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    margin: 10px auto;
    align-self: center;
    max-width: 80%;
    max-height: 250px;
    stroke: $green;
    // background: white;
    // border-radius: 50%;
    // box-shadow: inset 0px 0px 0px 10px black;
    z-index: 3;
  }

  &-circle {
    fill: none;
    stroke-width: 2.8;
    //   stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    z-index: 4;
  }

  &-circle-bg {
    fill: none;
    stroke: #d3d3d3;
    stroke-width: 0.4;
    z-index: 1;
  }

  &-circle-bg-2 {
    position: absolute;
    width: 9.9rem;
    height: 9.9rem;
    top: 1rem;
    left: 2.2rem;
    background-color: white;
    z-index: 0;
    border-radius: 50%;
  }

  &-content {
    display: grid;

    grid-template-rows: repeat(3, minmax(min-content, max-content));
    justify-content: center;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }

  &-crown {
    margin-bottom: -1.1rem;
  }

  &-rate {
    font-weight: 800;
    font-size: 5rem;
  }

  &-percent {
    align-self: start;
    font-weight: 900;
    font-size: 1rem;
    margin-top: -0.5rem;
  }

  &-footer {
    &-title {
      text-align: center;
      font-weight: 800;
    }

    &-text {
      text-align: center;
      font-weight: 800;
      color: #999999;
      font-size: 0.8rem;
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
